{% load static %}

<div class="gee">
  <div class="section  text-center cta bg-cover bg-center dark-overlay dark-overlay-2 pt-4 pb-5"  >
    <div class="section-title-wrap section-header text-center">
      <h5 class="custom-primary">Order Online</h5>
      <h2 class="title text-white">Get 10% Off Your First Order</h2>
      <p class="subtitle text-white">
        Order your meal online and receive 10% discount on your first order
      </p>
    </div>
    <a href="{% url 'product' %}" class="btn-custom shadow-none" style="background-color: #ED4E53;;">Order Online</a>
  </div>
</div>