{% load static %}   
  <!--COMBO section-->
<section class="combo-section">
    <div class="auto-container">

      <!-- Sec Title -->
      <div class="sec-title centered">
        <h2  data-aos="flip-down" data-aos-delay="100" data-aos-duration="1000">Our Hot Combo Items</h2>
      </div>

      <div class="row clearfix">
        <!-- Combo Block -->
        <div class="combo-block col-lg-6 col-md-12 col-sm-12"  data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000" >
          <div class="inner-box" data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000" style="visibility: visible;">
            <div class="image">
              <img data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000"  src="{% static '' %}img/deal2.jpg" alt="">
              <div class="overlay-box"  data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000">
                <h1  data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000">Fried <span>Rolls</span></h1>
                <div class="title" data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000">Meat and Veg Rolls </div>
                <div class="price" data-aos="slide-right" data-aos-delay="200" data-aos-duration="3000" ><span>Only</span><sup data-aos="slide-down-right" data-aos-delay="200" data-aos-duration="3000" >£</sup>8.50</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Combo Block -->
        <div class="combo-block col-lg-6 col-md-12 col-sm-12" data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000">
          <div class="inner-box" style="visibility: visible;" data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000">
            <div class="image">
              <img data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000" src="{% static '' %}img/deal1a.jpg" alt="">
              <div class="overlay-box">
                <h1  data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000">Grilled <span>Prawns</span></h1>
                <div class="title"  data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000">with Plain Rice</div>
                <div class="price yellow"  data-aos="slide-left" data-aos-delay="200" data-aos-duration="3000"><span>Only</span><sup data-aos="slide-down-left" data-aos-delay="200" data-aos-duration="3000" >£</sup>12</div>
              </div>
            </div>
          </div>
        </div>

        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        
      </div>
    </div>
</section>
  <!--COMBO section done-->
