{% load static %}


<!-- DELIVERY section-->
<section class="delivery-section">
  <div class="auto-container">
    <div class="row clearfix">

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column " 
          style="visibility: visible;">
          <div class="image" data-aos="slide-right" data-aos-delay="200" data-aos-duration="2000">
            <img src="{% static '' %}img/delivery.png" alt="">
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="title" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000" >We promise</div>
          <h1  data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000">On time Delivery</h1>
          <div class="text">
            <p  data-aos="slide-left" data-aos-delay="200" data-aos-duration="2000">Need your food delivered to your door at a pre-arranged time?</p>
            <p data-aos="zoom-in-down" data-aos-delay="200" data-aos-duration="2000">Let us know and we will be there</p>
          </div>
          <a href="menu.html" class="theme-btn btn-style-three" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000"><span class="txt text-dark">View Menu</span></a>
        </div>
      </div>
    </div>

    <div class="side-image"  data-aos="slide-left" data-aos-delay="200" data-aos-duration="2000">
      <img src="{% static '' %}img/food-order2.png" alt="">
    </div>
  </div>
</section>
<!-- END DELIVERY section -->
