
{% load static %}
<div class="container mb-0" style="margin-bottom: .4rem;">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/footerimg1.jpg"></span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/footerimg2.jpg"></span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/footerimg3.jpg"></span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/footerimg4.jpg"></span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/footerimg5.jpg"></span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 geeks">
        <span><img src="{% static '' %}img/chicken-bites-chips.jpg"></span>
        </div>

    </div>

</div>