{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}


{% block back-to-top %} {% include 'back-to-top.html' %} {% endblock back-to-top %}

{% block icon-bar %} {% include 'icon-bar.html' %} {% endblock icon-bar %}

{% block header %} {% include 'header.html' %}{% endblock header %} 

{% block hero %} {% include 'hero.html' %}{% endblock hero %} 

{% block content %} {% endblock content %}

{% block products-section %} {% include 'products-section.html' %}  {% endblock products-section %}



   {% block order-section %} {% include 'order-section.html' %} {% endblock order-section %}

   {% block combo-section %} {% include 'combo-section.html' %} {% endblock combo-section %}

   {% block delivery-section %} {% include 'delivery-section.html' %} {% endblock delivery-section %}

   {% block contact %} {% include 'contact.html' %} {% endblock contact %}

   {% block products-section-three %} {% include 'products-section-three.html' %} {% endblock products-section-three %}

   {% block quality-section %} {% include 'quality-section.html' %} {% endblock quality-section %}

   {% block imagefooter %} {% include 'imagefooter.html' %} {% endblock imagefooter %}

   {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    