    {% load static %}          
                <!--ORDER SECTION-->
    <section class="order-section godfirst" style="background-position: center;background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
        
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Empty Column -->
                <div class="empty-column col-lg-5 col-md-12 col-sm-12">

                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="offer">Exclusive Offer</div>
                        <h1>Egg Fried Rice</h1>
                        <div class="order-price">
                            <div class="price-inner">
                                <div class="price"><sup>£</sup>6.50<sub>Each</sub></div>
                                <ul class="order-offer">
                                <li>- Beef</li>
                                <li>- Pork</li>
                                <li>- Chicken</li>
                                </ul>
                            </div>
                        </div>
                        <a href="{% url 'product' %}" class="theme-btn btn-style-five"><span class="txt">View Menu</span></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
        <!--ORDER SECTION DONE-->
