
{% load static %}
<section class="products-section-three">
    <div class="auto-container">
      <div class="row clearfix">

        <!-- Product Block Two -->
        <div class="product-block-two col-lg-6 col-md-12 col-sm-12" data-aos="slide-right" data-aos-delay="100" data-aos-duration="3000" >
          <div class="inner-box">
            <div class="image">
              <div class="new" ><span>New</span></div>
              <img data-aos="slide-right" src="{% static '' %}img/burger-offer-1.jpg"  alt="">
              <div class="overlay-box pb-4">
                <div class="content pb-4">
                  <h2 data-aos="slide-right"><a href="#">Classic <br>Beef Burger</a></h2>
                  <div data-aos="slide-right" class="text">6oz beef patty with or without cheese chopped onion,
                  ketchup, American mustard and salad.
                  </div>
                  <div class="price">£5.45</div>
                  <input type="hidden" id="itempr1142" value="5.45">
                  <a data-aos="zoom-in-up"  href="" class="theme-btn btn-style-three"><span class="txt">View menu</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Block Two -->
        <div class="product-block-two col-lg-6 col-md-12 col-sm-12" data-aos="slide-left" data-aos-delay="100" data-aos-duration="3000">
          <div class="inner-box">
            <div class="image">
              <div class="new"><span >New</span></div>
              <img src="{% static '' %}img/burger-offer-2.jpg" alt="">
              <div class="overlay-box pb-4">
                <div class="content pb-4">
                  <h2 data-aos="slide-left"><a href="#">Chicken Corn <br> Burger</a></h2>
                  <div class="text">crispy-coated fillet chicken breast, sliced tomato,
                  lettuce, mayo and sweet corn relish
                  </div>
                  <div class="price">£7.45</div>
                  <input type="hidden" id="itempr1154" value="7.45">
                  <a href="" class="theme-btn btn-style-three"><span class="txt" data-aos="slide-left" data-aos-delay="300" data-aos-duration="3000">View Menu</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Block Two -->
        <div class="product-block-two col-lg-6 col-md-12 col-sm-12" data-aos="slide-right" data-aos-delay="100" data-aos-duration="3000">
          <div class="inner-box">
            <div class="image">
              <img src="{% static '' %}img/burger-offer-3.jpg" alt="">
              <div class="overlay-box pb-4">
                <div class="content pb-4">
                  <h2><a href="#">Gourmet <br> Beef Burger</a></h2>
                  <div class="text">2 X 6oz gourmet beef patty, sliced tomato, cheese,
                  sweet chilli sauce, lettuce and mayo.
                  </div>
                  <div class="price">£11.45</div>
                  <input type="hidden" id="itempr1152" value="11.45">
                  <a href="" class="theme-btn btn-style-three"><span class="txt">View Menu</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Block Two -->
        <div class="product-block-two col-lg-6 col-md-12 col-sm-12" data-aos="slide-left" data-aos-delay="100" data-aos-duration="3000">
          <div class="inner-box">
            <div class="image">
              <!-- <div class="new"><span>New</span></div> -->
              <img data-aos="slide-left"  src="{% static '' %}img/onion-rings-d1.jpg" alt="">
              <div class="overlay-box pb-4">
                <div class="content pb-4">
                  <h2 data-aos="slide-left"><a href="#">Onion <br> Rings</a></h2>
                  <div class="text">6 X onion rings coated in breadcrumb and deep fried to perfection.
                  </div>
                  <div  class="price">£1.95</div>
                  <input type="hidden" id="itempr1176" value="1.95">
                  <a href="" class="theme-btn btn-style-three"><span class="txt">View Menu</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>