
{% load static %}

    <section class="products-section" style="padding-top: 4rem;padding-bottom:3rem;background: #d7eaf1;background-attachment: fixed;">
      <div id="" class="auto-container" >
          <!-- Sec Title -->
          <div class="sec-title centered">
            <h2 data-aos="flip-down" data-aos-delay="100" data-aos-duration="1000">Few Samples of our Cuisines</h2>
          </div>
    
          <!-- MixitUp Galery -->
          <div class="mixitup-gallery">
    
            <!--Filter-->
            <div class="filters clearfix">
             <!-- <ul class="filter-tabs filter-btns clearfix">
                <li class="filter hover-underline-animation active" data-role="button" data-filter="all">All</li>
                <li class="filter hover-underline-animation" data-role="button" data-filter=".meat">Meat</li>
                <li class="filter hover-underline-animation" data-role="button" data-filter=".seafood">Sea Food</li>
                <li class="filter hover-underline-animation" data-role="button" data-filter=".veg">Vegetarian</li>
                <li class="filter hover-underline-animation" data-role="button" data-filter=".noodles">Noodles</li>
                <li class="filter hover-underline-animation" data-role="button" data-filter=".starters">Starters</li>
              </ul>
            </div>-->
    
            <div class="filter-list row clearfix">
              <!-- Products Block -->
              <div class="product-block  col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-left" data-aos-delay="100" data-aos-duration="2000" style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/chickenpepper.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Chicken Pepper</a></h4>
                    <div class="text">Chicken with Peppercorn & Shanghai Herbs.</div>
                    <div class="price">£9.00  <i class="fas fa-shopping-cart checked"></i> </div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden" id="" value="4.50">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View Menu</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Products Block -->
              <div class="product-block  col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-left" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/seafoodlemon.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Seafood Lemon</a></h4>
                    <div class="text">Seafood with Lemon Grass, Sweet Basil spice.</div>
                    <div class="price">£15.00 <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden" id="itempr1047" value="4.50">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View Menu</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Products Block -->
              <div class="product-block col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-right" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/wildmushroom.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Wild Mushroom</a></h4>
                    <div class="text">Wild Mushroom and Vegetable Soup with clay.</div>
                    <div class="price">£6.00  <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden" id="itempr1047" value="4.50">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View Menu</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Products Block -->
              <div class="product-block col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-right" data-aos-delay="100" data-aos-duration="2000"  style="padding-bottom: 2em; display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/cuttlefish.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Cuttlefish</a></h4>
                    <div class="text">Cuttlefish Slices with King Prawns and ginger</div>
                    <div class="price">£15.00 <i class="fas fa-shopping-cart checked"></i></div>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                     <div class="lower-box" style="margin-bottom: 0rem;">
                        <input type="hidden" id="itempr999" value="6.50">
                        <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View More</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <!-- Products Block -->
    
              <div class="product-block  col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-left" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/vegetablenoodles.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Veg Noodles</a></h4>
                    <div class="text">Buddhist Monk's & Crispy Noodles .</div>
                    <div class="price">£6.50 <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden" id="itempr999" value="6.50">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View More</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="product-block col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-left" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/springroll.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">SpringRoll</a></h4>
                    <div class="text">Springroll and spring onions spices.</div>
                    <div class="price">£16.50 <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden"  value="16.50">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View More</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="product-block  col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-right" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/pipaduck.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Pi-Pa Duck</a></h4>
                    <div class="text">Boiled duck meat and beef with chili.</div>
                    <div class="price">£16.50 <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <div class="lower-box">
                      <input type="hidden"  value="">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View More</span></a>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="product-block col-lg-3 col-md-6 col-sm-6 col-6" data-aos="slide-right" data-aos-delay="100" data-aos-duration="2000"  style="display: inline-block;">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="{% static '' %}img/beefchilli.jpg" alt="">
                  </figure>
                  <div class="lower-content">
                    <h4><a href="shop-single.html" style="font-weight:bold;color:black">Beef Chilli</a></h4>
                    <div class="text">Sliced goat meat and beef with chilli.</div>
                    <div class="price">£9.80  <i class="fas fa-shopping-cart checked"></i></div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <div class="lower-box">
                      <input type="hidden" value="">
                      <a href="{% url 'product' %}" class="theme-btn btn-style-five mt-4"><span class="txt">View More</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  <!--PRODUCTION SECTION done-->