

<section class="quality-section">
    <div class="container mt-5 mb-5" style="padding-top: 3rem; padding-bottom:3rem">
      <div class="row godfirst">
        <div class="col-12 col-sm-12 col-md-6">
          <h3 data-aos="slide-right" data-aos-delay="100" data-aos-duration="3000">Quality and Reliable services to <br>meet up to our<br>Client expectation</h3>
          <p data-aos="slide-up" data-aos-delay="100" data-aos-duration="3000">We ensure Healthy and Hygenic food are readily available whenever our highy customers make their orders. <br>
              Our Menu consist of the most delicious local and intercontinetal
              Cuisines <br> to suite your taste.</p>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <div class="row">
            <div class="col-6">
              <h1 style="font-weight: 900;" data-aos="fade-down" data-aos-delay="100" data-aos-duration="3000" >62K <span style="color:orangered; font-weight:900;" data-aos="flip-down" data-aos-delay="200" data-aos-duration="3000">+</span></h1>
              <p>Satisfied Clients</p>
            </div>
            <div class="col-6">
                <h1 style="font-weight: 900;" data-aos="fade-down" data-aos-delay="100" data-aos-duration="3000">73K<span style="color:orangered; font-weight:900;">+</span></h1>
                <p>Food Delivered</p>
            </div>
            <div class="col-6">
                <h1 style="font-weight: 900;" data-aos="fade-up" data-aos-delay="100" data-aos-duration="3000">30K<span style="color:orangered; font-weight:900;">+</span></h1>
                <p>Social Media followers</p>
            </div>
            <div class="col-6">
                <h1 style="font-weight: 900;" data-aos="fade-up" data-aos-delay="100" data-aos-duration="3000">100<span style="color:orangered; font-weight:900;">%</span></h1>
                <p>Quality Customer Service</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>