.products-section {
  position: relative;
  background-color: #ddebf3;
  padding: 90px 0px 80px;

  padding-top: 4rem;
  padding-bottom:3rem; 
  background-attachment: fixed;
  
}



@media only screen and (max-width: 1140px) {

    .hero-image .hero-text input[type=text] {
      float: right;
      padding: 6px;
      border: none;
      margin-top: 8px;
      margin-right: 10px;
      font-size: 17px;
      width: 100%;
      border-radius: 30px;
      padding: 3px 28px;
      vertical-align: middle;
    }
    }
    @media only screen and (max-width: 1200px) {
  
      .hero-image .hero-text input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 10px;
        font-size: 17px;
        width: 100%;
        border-radius: 30px;
        padding: 3px 28px;
        vertical-align: middle;
      }
      }@media only screen and (max-width: 1300px) {

        .hero-image .hero-text input[type=text] {
          float: right;
          padding: 6px;
          border: none;
          margin-top: 8px;
          margin-right: 10px;
          font-size: 17px;
          width: 100%;
          border-radius: 30px;
          padding: 3px 28px;
          vertical-align: middle;
        }
        }
        @media only screen and (max-width: 1360px) {
  
          .hero-image .hero-text input[type=text] {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 10px;
            font-size: 17px;
            width: 100%;
            border-radius: 30px;
            padding: 3px 28px;
            vertical-align: middle;
          }
  }
  @media only screen and (max-width: 650px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    .navbar .navbar-brand {
      font-size: 30px;
      font-weight: 900;
      margin-left: 20%;
    }

}
@media only screen and (max-width: 700px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    .navbar .navbar-brand {
      font-size: 30px;
      font-weight: 900;
      margin-left: 20%;
    }

}
@media only screen and (max-width: 800px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 850px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 900px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 950px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.5rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1040px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.5rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1100px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1150px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1200px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.7rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1250px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.7rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1300px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1350px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}
@media only screen and (max-width: 1400px) {

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h1{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-transform: capitalize;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
}